<h1>New Enrollment</h1>

<form action="/create_enrollment">
  <div>
    <label for="course_id">course_id</label><br />
    <input id="course_id" name="course_id" type="text" />
  </div>
  <div>
    <label for="student_id">student_id</label><br />
    <input id="student_id" name="student_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

